.DS_Store
backend/**/bin
backend/**/obj
backend/tmp
backend/.vs
backend/.idea
.idea
*.DotSettings.user
backend/.vs
*.csproj.user
coverage/
backend/tests/**/*.received.txt
.mono/
backend/files
.gitsecret/keys/random_seed

!*.secret

hosting/ssh_key
hosting/terraform.tfvars
rg-fe-*.tgz
rg-be-*.tgz


frontend/.yarn/sdks/**/package-lock.json
hosting/google-artifact-reader-key.json
